[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
django-auto-one-to-one = "*"
django-bootstrap4 = "*"
django-crispy-forms = "*"
django = "*"
chromedriver = "*"
django-selenium-login = "*"
whitenoise = "*"
psycopg2-binary = "*"
django-heroku = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
