.btn-block {
 animation: slideInRight ;
 animation-duration: 1.3s;
 transition: all .5s;
}

.btn-block:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.735);
}

.btn-block:active{
    transform: translateY(-3px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.735);
}



@keyframes slideInRight {
    0% {
        transform: translateX(-150px);
    }
    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translate(0);
    }
}