{% extends 'base.html' %}

{% block content %}
 
<div class = 'container'>
        <h2> All Time Leader Board</h2>
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Total Points </th>
                  </tr>
                </thead>
                <tbody>
                  {% for user_obj in view.all_time_point_leaders_in_order %}
                  <tr>
                    <th id='username' scope="row">{{user_obj.username}}</th>
                    <td id='user_point_total'>{{user_obj.total_points}}</td>
                  </tr>
                 {% endfor %}
                </tbody>
        </table>



    
</div>

{% endblock %}


