<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
   
  </head>
  <body style="background-color: #c1c8e4">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a id='user_name_label' class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item ">
                      {% if user.is_authenticated %}
                        
                      {% else %}
                        <a id='login' class="nav-link mx-1" href="{% url 'login' %}">Login</a>
                      {% endif %}
                  </li>
                  <li class="nav-item" >
                      {% if user.is_authenticated %}
                      <a id='input_points' style="color:#84ceeb" class="nav-link mx-1" href="{% url 'Health_data_input' %}">Input Points</a>
                      {% else %}
                      <a class="nav-link mx-1" href="{% url 'signup' %}">Signup</a>
                      {% endif %}
                  </li>



                  <li class="nav-item dropdown">
                      <a id='goals' class="nav-link" href="{% url 'GeneralGoals' %}" id="navbarDropdown">
                        Goals
                      </a>
                  </li>

                  <li class="nav-item">
                    <a id='challenges' class="nav-link" href="{% url 'GeneralChallenges' %}" >
                      Challenges
                    </a>
                    
                </li>



                  <li class="nav-item ">
                    <a id='view_results' class="nav-link" href="{% url 'general_results' %}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      View Results
                    </a>
  
                </li>
                
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a id='rules_page' class="nav-link mx-1" href="{% url 'rules' %}">Rules</a>
                </li>


                <li class="nav-item ">
                    <a class="nav-link mx-1" href="{% url 'how_to' %}"> How To: Tutorial</a>
                </li>
                
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a id='account' class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Account: {{user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a id='logout' class = "dropdown-item" href= "{% url 'logout' %}">Logout</a>
                      <a id='change_password' class="dropdown-item" href="{% url 'password_change'  %}">Change password</a>

                    </div>
                </li>
                {% endif %}
              </ul>

          </div>


  </nav>
  {% if user.is_authenticated %}
    {% block invitation_alert %}
    {% if messages %}

        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
           {{ message }}
        </div>
        
        {% endfor %}

    {% endif %}
    {% endblock%}
    {% endif %}
  
    {% block content %}
    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% load staticfiles %}
    <script src="{% static 'js/checkPendingInvitations.js' %}"> </script> 
    <script src="https://code.highcharts.com/highcharts.src.js"></script> <!-- added so charts work  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
