{% extends 'base.html' %}
{% block head %}
{% load static %}
    <link href="{% static 'css/tables.css' %}" rel =stylesheet type='text/css'>
{% endblock %}
{% block content %}

    <div class='row-12'>
        <!-- As a heading -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="{% url 'general_results' %}">Graphs</a> <!-- this will be this page, showing graphs-->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="{% url 'daily_monthly_points_list' %}">Data Log</a>
                </div>
              </div>
            </nav>
    </div>

        <div class="col-12 text-center">
            <h2 class="no-magellan" style="margin: 30px">Daily Point Data</h2>
          </div>
    <div class='row-12'>
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Total </th>
                    <th scope="col">Daily Goal</th>
                    <!--<th scope="col">Workout</th>
                    <th scope="col">Sleep </th>
                    <th scope="col">Water</th>
                    <th scope="col">Step</th>
                    <th scope="col">Clean Eating</th>-->
                    <th scope="col">Update</th>
                    <th scope="col">Graph</th>
                  </tr>
                </thead>
                <tbody>
                  {% for point_obj in view.order_date_data %}
                  <tr>
                    <th id='date' scope="row">{{point_obj.date}}</th>
                    <td id='total_points'>{{point_obj.total_points}}</td>
                    <td id='point_goal'>{{point_obj.daily_point_goal}}</td>
                    <!--<td id='workout_points'>{{point_obj.workout_points}}</td>
                    <td id='sleep_points'>{{point_obj.sleep_points}}</td>
                    <td id='water_points'>{{point_obj.water_points}}</td>
                    <td id='step_points'>{{point_obj.step_points}}</td>
                    <td id='clean_eating_points'>{{point_obj.clean_eating_points}}</td>-->
                    <td id='update'><a class="btn btn-outline-primary" href = "{%url 'update_health_data_input' point_obj.one_to_one_workout_id %}"> Update</a></td>
                    <td id='see_graph'><a class="btn btn-outline-success" href = "{%url 'daily_point_graph' point_obj.pk %}">Graph</a></td>
                  </tr>
                 {% endfor %}
                </tbody>
        </table>

{% endblock %}