{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}
<p style="color:#c1c8e4"">{{view.unanswered_challenge_invitations}}</li> 
{% endif %}
<div class = 'container'>

        <h1> How to: Fitness Challenge</h1>
        <br>

        <h3> Step 1: Create a User: <a class="btn btn-outline-success"  href="{% url 'signup' %}"> Signup</a>  </h3>
        <br>
       
        <h3> Step 2: Compete against expectations: <a class="btn btn-outline-success" href="{% url 'set_goal' %}"> Create Goal</a>  </h3>
        <ul>
        <li> Create daily point goals to see if you can beat your expectations </li>
        <br>
        </ul>
        
        <h3> Step 3: Start Tracking: <a class="btn btn-outline-success" href="{% url 'Health_data_input' %}"> Input Data </a></h3>
        <ul>
        <li> Input your health data to generate points, including sleeping hours, workout time, steps, water and more </li>
        <br>
        </ul>

        
        <h3> Step 4: View Results: <a class="btn btn-outline-success" href= "{% url 'general_results' %}"> Interactive Graphs</a></h3>
        <ul>
        <li> View your health data graphs, tables and statistics  </li>
        <br>
        </ul>

        
        <h3> Step 5: Create and Compete in Challenges: <a class="btn btn-outline-success" href= "{% url 'create_a_challenge' %}"> Create Challenge</a></h3>
        <ul>
        <li> Create a challenge for any fitness category and Invite your friends to compete</li>
        <li> Accept challenge invitations from others: <a href= "{% url 'invitations_pending' %}"> Pending Invitations</a></li>
        <li> View current challenge data and leader board standings for each challenge: <a href= "{% url 'accepted_challenges_list' %} "> Current challenges </a>
        </li>
        </ul>

      

    </div>


{% endblock %}