{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}
<p style="color:white">{{view.unanswered_challenge_invitations}}</li> 
{% endif %}
<div class = 'container'>

        <h1> How to: Fitness Challenge</h1>
        <br>

        <h3> Step 1: Create a User: <a  href="{% url 'signup' %}">Signup</a>  </h3>
        <br>
       
        <h3> Step 2: Compete against expectations:<a href="{% url 'set_goal' %}"> Set Goals</a>  </h3>
        <ul>
        <li> Create daily point goals to see if you can beat your expectations </li>
        <br>
        </ul>
        
        <h3> Step 3: Start Tracking: <a  href="{% url 'Health_data_input' %}"> Input Data </a></h3>
        <ul>
        <li> Input your health data to generate points, including sleeping hours, workout time, steps, water and more </li>
        <br>
        </ul>

        
        <h3> Step 4: View Results:<a href= "{% url 'daily_monthly_points_list' %}"> Daily Table</a></h3>
        <ul>
        <li> View your daily points generated in a table format or graph  </li>
        <li> View your total point progress graph: <a  href= "{% url 'User_all_time_progress_graph' %}"> Total  Graph</a></li>
        <li> View your daily point graph: <a  href= "{% url 'daily_points_graph' %}"> Daily  Graph</a></li>
        <br>
        </ul>

        
        <h3> Step 5: Compete Against Others:<a href="{%url 'all_time_leaderboard' %}"> Leader Board</a></h3>
        <ul>
        <li> Check the Leader Board to see the rankings</li>
        <br>
        </ul>

        <ul>
        <h3> Step 6: Create and Compete in Challenges: <a href= "{% url 'create_a_challenge' %}"> Create Challenge</a></h3>
        <li> Create a challenge for any fitness catagory and Invite your friends to compete</li>
        <li> Accept challenge invitations from others: <a href= "{% url 'invitations_pending' %}"> Pending Invitations</a></li>
        <li> View current challenge data and leader board standings for each challenge: <a href= "{% url 'accepted_challenges_list' %} "> Current challenges </a>
        </li>
        </ul>

      

    </div>


{% endblock %}