{% extends 'base.html' %}

{% block content %}

<head>
        <meta charset="utf-8">
        <title>Django Highcharts Example</title>
</head>
<body>
        <div id="container"></div>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script>
          Highcharts.chart('container', {
              chart: {
                  type: 'line'
              },
              title: {
                  text: 'june Points' 
              },
     
              series: [{
                  name: 'Daily Total',
                  data: [
                  ['a',6],['b',7]
                  ],
                  color: 'black'
              }, {
                  name: 'Sleep ',
                  data: [
                  ['a',3],['b',4]
                  ],
                  color: 'green'
              }, 
                
              {
                  name: 'Workout',
                  data: [
                  ['a',1],['b',2]
                  ],
                  color: 'red'
              }]
          });
        </script>
</body>
{% endblock %}

