{% extends 'base.html' %}

{% load crispy_forms_field %}
{% load crispy_forms_tags %}



{% block content %}
<div class='row-12'>
        <!-- As a heading -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="{% url 'GeneralChallenges' %}">My challenges</a> <!-- this will be this page, showing graphs-->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                        <ul class="navbar-nav mr-auto">
                                        <li class="nav-item" >
                                                <a id='create_challenge' class = "nav-link mx-1" href= "{% url 'create_a_challenge' %}"> Create Challenge</a>
                                        </li>
                                        <li class="nav-item">
                                          <a id='pending_invitations' class = "nav-link mx-1" href= "{% url 'invitations_pending' %}"> Pending Invitations</a>
                                        </li>
                  
                                    </ul>
                      <ul class="navbar-nav ml-auto">
                              <li class="nav-item" >
                                      <a id='create_challenge' class = "nav-link mx-1" href= "{% url 'past_accepted_challenges' %}"> Past Challenges Log</a>
                              </li>
                              <li class="nav-item">
                                <a id='pending_invitations' class = "nav-link mx-1" href= "{% url 'accepted_challenges_list' %}"> Current-Future Challenges Log</a>
                              </li>
    
                          </ul>

              </div>
          </nav>
    </div>

<div class = 'container'>
        <div class="col-12 text-center">
                <h2 class="no-magellan" style="margin: 30px">Create Challenge </h2>
        </div>
        <div class="col-12">
                <form method = 'post'> {% csrf_token %}
                        {{form| crispy}}
                       
                       <input class = 'btn btn-success' type='submit' value = 'Submit'> 
                </form> 
              </div>
    </div>

{% endblock %}