
{% extends 'goals_sub_nav.html' %}

{% block subnav %}
 
 <div class = 'container'>
              <!-- past goals -->
              <div class="col-12 text-center">
                  <h2 class="no-magellan" style="margin: 30px">Past Goals</h2>
                </div>
              <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Total Point Goal</th>
                              <th scope="col">Daily Point Goal</th>
                              <th scope="col">Current Points</th>
                              <th scope="col">Start Date</th>
                              <th scope="col">End Date</th>
                              <th scope="col">Delete</th>
                              <th scope="col">Graph</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for points in view.past_goals %}
                            <tr>
                              <th id='past_goal_total_point_goal' scope="row">{{points.points_needed_for_goal_achieved}}</th>
                              <td id='past_goal_daily_point_goal'>{{points.point_goal}}</td>
                              <td id='past_goal_past_points'>{{points.current_point_total_input}}</td>
                              <td id='past_goal_start_date'>{{points.goal_start_date}}</td>
                              <td id='past_goal_end_date'>{{points.goal_end_date}}</td>
                              <td id='past_goal_delete'> <a href = "{% url 'delete_goal' points.pk %}"> Delete </a> </td>
                              <td id='see_goal_graph'><a class="btn btn-outline-success" href = "{%url 'specific_goal_graph' points.pk %}"> See graph</a></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>

</div>



{% endblock %}