{% extends 'base.html' %}

{% block content %}
<div class='row-12'>
    <!-- As a heading -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'GeneralChallenges' %}">My challenges</a> <!-- this will be this page, showing graphs-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent2">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item" >
                          <a id='create_challenge' class = "nav-link mx-1" href= "{% url 'create_a_challenge' %}"> Create Challenge</a>
                  </li>
                  <li class="nav-item">
                    <a id='pending_invitations' class = "nav-link mx-1" href= "{% url 'invitations_pending' %}"> Pending Invitations</a>
                  </li>

              </ul>
                  <ul class="navbar-nav ml-auto">
                          <li class="nav-item" >
                                  <a id='create_challenge' class = "nav-link mx-1" href= "{% url 'past_accepted_challenges' %}"> Past Challenges Log</a>
                          </li>
                          <li class="nav-item">
                            <a id='pending_invitations' class = "nav-link mx-1" href= "{% url 'accepted_challenges_list' %}"> Current-Future Challenges Log</a>
                          </li>

                      </ul>

          </div>
      </nav>
</div>             

 <div class = 'container'>
        <!-- past challenges -->
        <div class="col-12 text-center">
            <h2 class="no-magellan" style="margin: 30px">Past Challenges</h2>
          </div>
    
        <table class="table">
            <thead>
              <tr>
                <th style ="word-break: break-word" scope="col">End</th>
                <th style ="word-break: break-word" scope="col">Start</th>
                <th style ="word-break: break-word" scope="col">Title</th>
                <th style ="word-break: break-word" scope="col"> Category</th>
                <!--<th style ="word-break: break-word" scope="col">By </th>-->
                <th style ="word-break: break-word" scope="col"> Graph</th>
              </tr>
            </thead>
            <tbody>
              {% for invitation_obj in view.past_challenge_data %}
              <tr>
                <th style ="word-break: break-word" scope ="row">{{invitation_obj.invitation.end_date}}</th>
                <td style ="word-break: break-word">{{invitation_obj.invitation.start_date}}</td> 
                <td style ="word-break: break-word">{{invitation_obj.invitation.title}}</td>
                <td style ="word-break: break-word">{{invitation_obj.invitation.challenge_health_field}}</td> 
                <!--<td style ="word-break: break-word">{{invitation_obj.invitation.username_of_invitor}}</td>--> <!-- modify this to show username -->
                <td style ="word-break: break-word"><a class="btn btn-outline-primary" href = "{% url 'Challenge_leaderboard' invitation_obj.invitation_id  %}"> Results</a></td>
              </tr>
             {% endfor %}
            </tbody>
    </table>


    
</div>

{% endblock %}