{% extends 'challenges_subnav.html' %}
{% block head %}
{% load static %}
    <link href="{% static 'css/tables.css' %}" rel =stylesheet type='text/css'>
{% endblock %}

{% block subnav %}

 <div class = 'container'>
        <!-- past challenges -->
        <div class="col-12 text-center">
            <h2 class="no-magellan" style="margin: 30px">Past Challenges</h2>
          </div>
    
        <table class="table">
            <thead>
              <tr>
                <th  scope="col">End</th>
                <th  scope="col">Start</th>
                <th  scope="col">Title</th>
                <th  scope="col"> Field</th>
                <!--<th  scope="col">By </th>-->
                <th  scope="col"> Graph</th>
              </tr>
            </thead>
            <tbody>
              {% for invitation_obj in view.past_challenge_data %}
              <tr>
                <th  scope ="row">{{invitation_obj.invitation.end_date}}</th>
                <td >{{invitation_obj.invitation.start_date}}</td> 
                <td >{{invitation_obj.invitation.title}}</td>
                <td >{{invitation_obj.invitation.convert_field_name_to_readable_field_name}}</td> 
                <!--<td >{{invitation_obj.invitation.username_of_invitor}}</td>--> <!-- modify this to show username -->
                <td ><a class="btn btn-outline-primary" href = "{% url 'Challenge_leaderboard' invitation_obj.invitation_id  %}"> Results</a></td>
              </tr>
             {% endfor %}
            </tbody>
    </table>


    
</div>

{% endblock %}