{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<p style="color:white">{{view.unanswered_challenge_invitations}}</p> 
{% endif %}
    <div class = 'container'>
        <div class = 'row align-items-center justify-content-center'></div>
        <div class = 'col mr-auto ml-auto'>
                <h1 style="color : red"> How to Earn Points</h1>
                <ul>
                        <li> Clean Eating Points: Eat Clean the entire day, 10 points</li>
                        
                        <li> Sleep Points: Hours of Sleep * 3.3</li>
                        
                        <li> Workout Points: Workout intensity * (Workout minutes * .2) </li>
                      
                        <li> Water Points: 100 oz of water, 10 points</li>
                     
                        <li> Step Points: Steps * .001</li>
                </ul>
        </div>

    </div>


{% endblock %}