{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
 {% endif %}
    <div class = 'container'>
        <div class = 'col-12 mr-auto ml-auto'>


        <div class="card col-12 mr-auto ml-auto my-5 text-center">
                <div class="card-header" style="color: red;">
                  <h2>Scoring System</h2>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Clean Eating Points: Eat Clean the entire day, 10 points</li>
                  <li class="list-group-item">Sleep Points: Hours of Sleep * 3.3</li>
                  <li class="list-group-item">Workout Points: Workout intensity * (Workout minutes * .2)</li>
                  <li class="list-group-item">Water Points: 100 oz of water, 10 points</li>
                  <li class="list-group-item">Step Points: Steps * .001</li>

                </ul>
              </div>

    </div>
    </div>

{% endblock %}