{% extends 'goals_sub_nav.html' %}


{% block subnav %}

{% block head %}
{% load static %}
    <link href="{% static 'css/tables.css' %}" rel =stylesheet type='text/css'>
{% endblock %}
 
 <div class = 'container'>
    <div class="col-12 text-center">
        <h2 class="no-magellan" style="margin: 10px; font-size: 20px;">Current Goals</h2>
      </div>
<table class="table table-hover">
 
        <thead>
          <tr>
            <!--<th  scope="col">Total Goal</th>-->
            <th  scope="col"> Field</th>
            <th   scope="col"> Daily</th>
           <!-- <th scope="col">Current Points</th>-->
            <th  scope="col">Start</th>
            <th  scope="col">End</th>
            <th  scope="col">Delete</th>
            <th  scope="col">Graph</th>
          </tr>
        </thead>
        <tbody>
          {% for points in view.goals %}
           
          <tr>
            <!--<th id='current_goal_total_point_goal'  scope="row">{{points.points_needed_for_goal_achieved}}</th>-->
            <td  id='current_goal_daily_point_goal'>{{points.convert_field_name_to_readable_field_name}}</td>
            <td  id='current_goal_daily_point_goal'>{{points.point_goal}}</td>
            <!--<td id='current_goal_current_points' >{{points.current_point_total_input}}</td>-->
            <td  id='current_goal_start_date'>{{points.goal_start_date}}</td>
            <td  id='current_goal_end_date'>{{points.goal_end_date}}</td>
            <td  id='current_goal_delete'> <a class="btn btn-outline-danger" href = "{% url 'delete_goal' points.pk %}"> Delete </a> </td>
            <td  id='see_goal_graph'><a class="btn btn-outline-success" href = "{%url 'specific_goal_graph' points.pk %}"> Graph</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <br>
      <!-- future goals  -->
      <div class="col-12 text-center">
          <h2 class="no-magellan">Future Goals</h2>
        </div>
      <table class="table table-hover">
                <thead>
                    
                  <tr>
                    <!--<th scope="col">Total Point Goal</th>-->
                    <th   scope="col"> Field</th>
                    <th  scope="col">Daily</th>
                    <!--<th scope="col">Current Points</th>-->
                    <th  scope="col">Start</th>
                    <th  scope="col">End</th>
                    <th  scope="col">Delete</th>
                    <th  scope="col">Graph</th>

                  </tr>
                </thead>
                <tbody>
                  {% for points in view.future_goals %}
                   
                  <tr>
                    <!--<th id='future_goal_total_point_goal'  scope="row">{{points.points_needed_for_goal_achieved}}</th>-->
                    <td  id='current_goal_daily_point_goal'>{{points.convert_field_name_to_readable_field_name}}</td> <!--use goal model function to return more readable field name -->
                    <td  id='future_goal_daily_point_goal'>{{points.point_goal}}</td>
                    <!--<td id='future_goal_future_points'>{{points.current_point_total_input}}</td>-->
                    <td  id='future_goal_start_date'>{{points.goal_start_date}}</td>
                    <td  id='future_goal_end_date'>{{points.goal_end_date}}</td>
                    <td  id='future_goal_delete'> <a class="btn btn-outline-danger" href = "{% url 'delete_goal' points.pk %}"> Delete </a> </td>
                    <td  id='see_goal_graph_future'><a class="btn btn-outline-success"  href = "{%url 'specific_goal_graph' points.pk %}"> Graph</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>


</div>
<script> 
  // remove columns Total point goal,current points 

  // input all the 
</script>

{% endblock %}